{
  "openapi": "3.1.0",
  "info": {
    "title": "Business Risk API",
    "version": "1.0.0",
    "description": "Verify businesses and continuously monitor registration, officers, ownership, licences and material risk changes. Assesses the entity data you supply; it queries no registry and issues no credit or legal determination."
  },
  "servers": [
    {
      "url": "https://businessrisk-api.com"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Liveness and deployed version",
        "operationId": "getHealth",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/": {
      "get": {
        "summary": "Service index — endpoints, auth and error format",
        "operationId": "get/",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/assessments": {
      "post": {
        "summary": "Assess entities and detect material changes since a previous snapshot",
        "description": "Send a business entity record you already hold — registration, officers, ownership, licences, status — and get back weighted risk signals, a score you can re-derive by hand, effective ownership computed through the whole chain, and licence expiry in whole UTC days. Send a \"previous\" snapshot as well and every difference is reported and marked material or not: a director resigning and an owner crossing 25% are material; a stake moving from 5% to 6% and a reformatted postcode are not. One unit per entity assessed — send one \"entity\" or up to 100 in \"subjects\". This service queries no registry and holds no record of any company: it assesses the data you supply, and its output is not a credit or legal determination.",
        "operationId": "postV1Assessments",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "materialChangeCount": {
                      "type": "integer",
                      "description": "How many of the assessed entities had at least one material change."
                    },
                    "assessments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "entityId": {
                            "type": "string"
                          },
                          "score": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 100,
                            "description": "The capped sum of the weights of the signals that fired. Nothing else."
                          },
                          "band": {
                            "type": "string",
                            "enum": [
                              "low",
                              "medium",
                              "high",
                              "critical"
                            ]
                          },
                          "scoring": {
                            "type": "object",
                            "description": "The arithmetic: one contribution per distinct code, their uncapped sum, the cap, and the band table."
                          },
                          "signals": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            },
                            "description": "Every finding, heaviest first, each with a stable code, a weight and a plain-language detail."
                          },
                          "ownership": {
                            "type": "object",
                            "description": "Effective stakes through the whole chain, beneficial owners, unallocated share, cycles, and whether a bound truncated the walk."
                          },
                          "licences": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            },
                            "description": "Per-licence expiry status in whole UTC days, and whether it is usable today."
                          },
                          "officers": {
                            "type": "object",
                            "description": "Counts and the active officers, with tenure in whole UTC days."
                          },
                          "changes": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            },
                            "description": "Null when no previous snapshot was sent. Otherwise every difference, each marked material or not."
                          },
                          "changeSummary": {
                            "type": "object",
                            "description": "Counts plus hasMaterialChange — the boolean worth firing a webhook on."
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "options": {
                      "type": "object",
                      "description": "The options actually applied, including defaults, so a stored result explains itself."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entity": {
                    "type": "object",
                    "required": [
                      "entityId",
                      "legalName",
                      "jurisdiction",
                      "status"
                    ],
                    "properties": {
                      "entityId": {
                        "type": "string",
                        "description": "Your identifier for the entity. Both snapshots of a comparison must carry the same one."
                      },
                      "legalName": {
                        "type": "string"
                      },
                      "jurisdiction": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 with an optional subdivision: \"GB\", \"US-DE\"."
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "active",
                          "dormant",
                          "unknown",
                          "suspended",
                          "receivership",
                          "in_administration",
                          "liquidation",
                          "struck_off",
                          "dissolved"
                        ],
                        "description": "\"unknown\" is a real answer and is scored as a risk, not as an absence of one."
                      },
                      "registrationNumber": {
                        "type": "string"
                      },
                      "incorporatedOn": {
                        "type": "string",
                        "format": "date"
                      },
                      "registeredAddress": {
                        "type": "object",
                        "required": [
                          "country"
                        ],
                        "properties": {
                          "line1": {
                            "type": "string"
                          },
                          "locality": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "postalCode": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string",
                            "description": "ISO 3166-1 alpha-2. The field that decides whether an address change is material."
                          }
                        }
                      },
                      "officers": {
                        "type": "array",
                        "maxItems": 500,
                        "items": {
                          "type": "object",
                          "required": [
                            "name",
                            "role"
                          ],
                          "properties": {
                            "officerId": {
                              "type": "string",
                              "description": "Your own stable id. Without one an officer is keyed by name, and a role change reads as a departure plus an arrival."
                            },
                            "name": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string",
                              "enum": [
                                "director",
                                "secretary",
                                "partner",
                                "manager",
                                "trustee",
                                "other"
                              ],
                              "description": "Control roles — director, partner, manager, trustee — are the ones whose changes are material."
                            },
                            "appointedOn": {
                              "type": "string",
                              "format": "date",
                              "description": "Active from this day, inclusive."
                            },
                            "resignedOn": {
                              "type": "string",
                              "format": "date",
                              "description": "The day the appointment TERMINATED. The officer is already gone on that date."
                            }
                          }
                        }
                      },
                      "ownership": {
                        "type": "array",
                        "maxItems": 500,
                        "items": {
                          "type": "object",
                          "required": [
                            "holderId",
                            "holderType",
                            "basisPoints"
                          ],
                          "properties": {
                            "holderId": {
                              "type": "string"
                            },
                            "holderName": {
                              "type": "string"
                            },
                            "holderType": {
                              "type": "string",
                              "enum": [
                                "individual",
                                "entity"
                              ]
                            },
                            "subjectId": {
                              "type": "string",
                              "description": "What is being owned. Defaults to the assessed entity, so a flat cap table needs no subject. Point it at another holder to describe a chain."
                            },
                            "basisPoints": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 10000,
                              "description": "Integer basis points; 10000 = 100%. Percentages are never floats here — chain multiplication would drift a holder across a 25.00% threshold."
                            }
                          }
                        },
                        "description": "Holdings, as edges. Repeated holdings for the same holder and subject are summed; nothing may end up more than 100% owned."
                      },
                      "licences": {
                        "type": "array",
                        "maxItems": 200,
                        "items": {
                          "type": "object",
                          "required": [
                            "licenceId",
                            "kind",
                            "status"
                          ],
                          "properties": {
                            "licenceId": {
                              "type": "string",
                              "description": "Unique within the snapshot — it is what the change detector diffs on."
                            },
                            "kind": {
                              "type": "string"
                            },
                            "authority": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "active",
                                "pending",
                                "suspended",
                                "revoked",
                                "expired"
                              ]
                            },
                            "issuedOn": {
                              "type": "string",
                              "format": "date"
                            },
                            "expiresOn": {
                              "type": "string",
                              "format": "date",
                              "description": "The LAST DAY the licence is valid. A permit \"valid to 31 March\" is still good on 31 March."
                            }
                          }
                        }
                      },
                      "observedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When you observed this snapshot. Used only to refuse a backwards comparison."
                      }
                    }
                  },
                  "previous": {
                    "type": "object",
                    "required": [
                      "entityId",
                      "legalName",
                      "jurisdiction",
                      "status"
                    ],
                    "properties": {
                      "entityId": {
                        "type": "string",
                        "description": "Your identifier for the entity. Both snapshots of a comparison must carry the same one."
                      },
                      "legalName": {
                        "type": "string"
                      },
                      "jurisdiction": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 with an optional subdivision: \"GB\", \"US-DE\"."
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "active",
                          "dormant",
                          "unknown",
                          "suspended",
                          "receivership",
                          "in_administration",
                          "liquidation",
                          "struck_off",
                          "dissolved"
                        ],
                        "description": "\"unknown\" is a real answer and is scored as a risk, not as an absence of one."
                      },
                      "registrationNumber": {
                        "type": "string"
                      },
                      "incorporatedOn": {
                        "type": "string",
                        "format": "date"
                      },
                      "registeredAddress": {
                        "type": "object",
                        "required": [
                          "country"
                        ],
                        "properties": {
                          "line1": {
                            "type": "string"
                          },
                          "locality": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "postalCode": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string",
                            "description": "ISO 3166-1 alpha-2. The field that decides whether an address change is material."
                          }
                        }
                      },
                      "officers": {
                        "type": "array",
                        "maxItems": 500,
                        "items": {
                          "type": "object",
                          "required": [
                            "name",
                            "role"
                          ],
                          "properties": {
                            "officerId": {
                              "type": "string",
                              "description": "Your own stable id. Without one an officer is keyed by name, and a role change reads as a departure plus an arrival."
                            },
                            "name": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string",
                              "enum": [
                                "director",
                                "secretary",
                                "partner",
                                "manager",
                                "trustee",
                                "other"
                              ],
                              "description": "Control roles — director, partner, manager, trustee — are the ones whose changes are material."
                            },
                            "appointedOn": {
                              "type": "string",
                              "format": "date",
                              "description": "Active from this day, inclusive."
                            },
                            "resignedOn": {
                              "type": "string",
                              "format": "date",
                              "description": "The day the appointment TERMINATED. The officer is already gone on that date."
                            }
                          }
                        }
                      },
                      "ownership": {
                        "type": "array",
                        "maxItems": 500,
                        "items": {
                          "type": "object",
                          "required": [
                            "holderId",
                            "holderType",
                            "basisPoints"
                          ],
                          "properties": {
                            "holderId": {
                              "type": "string"
                            },
                            "holderName": {
                              "type": "string"
                            },
                            "holderType": {
                              "type": "string",
                              "enum": [
                                "individual",
                                "entity"
                              ]
                            },
                            "subjectId": {
                              "type": "string",
                              "description": "What is being owned. Defaults to the assessed entity, so a flat cap table needs no subject. Point it at another holder to describe a chain."
                            },
                            "basisPoints": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 10000,
                              "description": "Integer basis points; 10000 = 100%. Percentages are never floats here — chain multiplication would drift a holder across a 25.00% threshold."
                            }
                          }
                        },
                        "description": "Holdings, as edges. Repeated holdings for the same holder and subject are summed; nothing may end up more than 100% owned."
                      },
                      "licences": {
                        "type": "array",
                        "maxItems": 200,
                        "items": {
                          "type": "object",
                          "required": [
                            "licenceId",
                            "kind",
                            "status"
                          ],
                          "properties": {
                            "licenceId": {
                              "type": "string",
                              "description": "Unique within the snapshot — it is what the change detector diffs on."
                            },
                            "kind": {
                              "type": "string"
                            },
                            "authority": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "active",
                                "pending",
                                "suspended",
                                "revoked",
                                "expired"
                              ]
                            },
                            "issuedOn": {
                              "type": "string",
                              "format": "date"
                            },
                            "expiresOn": {
                              "type": "string",
                              "format": "date",
                              "description": "The LAST DAY the licence is valid. A permit \"valid to 31 March\" is still good on 31 March."
                            }
                          }
                        }
                      },
                      "observedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When you observed this snapshot. Used only to refuse a backwards comparison."
                      }
                    },
                    "description": "The snapshot to compare against. Must carry the same entityId, and must not be observed after \"entity\"."
                  },
                  "subjects": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "required": [
                        "entity"
                      ],
                      "properties": {
                        "entity": {
                          "type": "object",
                          "required": [
                            "entityId",
                            "legalName",
                            "jurisdiction",
                            "status"
                          ],
                          "properties": {
                            "entityId": {
                              "type": "string",
                              "description": "Your identifier for the entity. Both snapshots of a comparison must carry the same one."
                            },
                            "legalName": {
                              "type": "string"
                            },
                            "jurisdiction": {
                              "type": "string",
                              "description": "ISO 3166-1 alpha-2 with an optional subdivision: \"GB\", \"US-DE\"."
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "active",
                                "dormant",
                                "unknown",
                                "suspended",
                                "receivership",
                                "in_administration",
                                "liquidation",
                                "struck_off",
                                "dissolved"
                              ],
                              "description": "\"unknown\" is a real answer and is scored as a risk, not as an absence of one."
                            },
                            "registrationNumber": {
                              "type": "string"
                            },
                            "incorporatedOn": {
                              "type": "string",
                              "format": "date"
                            },
                            "registeredAddress": {
                              "type": "object",
                              "required": [
                                "country"
                              ],
                              "properties": {
                                "line1": {
                                  "type": "string"
                                },
                                "locality": {
                                  "type": "string"
                                },
                                "region": {
                                  "type": "string"
                                },
                                "postalCode": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string",
                                  "description": "ISO 3166-1 alpha-2. The field that decides whether an address change is material."
                                }
                              }
                            },
                            "officers": {
                              "type": "array",
                              "maxItems": 500,
                              "items": {
                                "type": "object",
                                "required": [
                                  "name",
                                  "role"
                                ],
                                "properties": {
                                  "officerId": {
                                    "type": "string",
                                    "description": "Your own stable id. Without one an officer is keyed by name, and a role change reads as a departure plus an arrival."
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "role": {
                                    "type": "string",
                                    "enum": [
                                      "director",
                                      "secretary",
                                      "partner",
                                      "manager",
                                      "trustee",
                                      "other"
                                    ],
                                    "description": "Control roles — director, partner, manager, trustee — are the ones whose changes are material."
                                  },
                                  "appointedOn": {
                                    "type": "string",
                                    "format": "date",
                                    "description": "Active from this day, inclusive."
                                  },
                                  "resignedOn": {
                                    "type": "string",
                                    "format": "date",
                                    "description": "The day the appointment TERMINATED. The officer is already gone on that date."
                                  }
                                }
                              }
                            },
                            "ownership": {
                              "type": "array",
                              "maxItems": 500,
                              "items": {
                                "type": "object",
                                "required": [
                                  "holderId",
                                  "holderType",
                                  "basisPoints"
                                ],
                                "properties": {
                                  "holderId": {
                                    "type": "string"
                                  },
                                  "holderName": {
                                    "type": "string"
                                  },
                                  "holderType": {
                                    "type": "string",
                                    "enum": [
                                      "individual",
                                      "entity"
                                    ]
                                  },
                                  "subjectId": {
                                    "type": "string",
                                    "description": "What is being owned. Defaults to the assessed entity, so a flat cap table needs no subject. Point it at another holder to describe a chain."
                                  },
                                  "basisPoints": {
                                    "type": "integer",
                                    "minimum": 1,
                                    "maximum": 10000,
                                    "description": "Integer basis points; 10000 = 100%. Percentages are never floats here — chain multiplication would drift a holder across a 25.00% threshold."
                                  }
                                }
                              },
                              "description": "Holdings, as edges. Repeated holdings for the same holder and subject are summed; nothing may end up more than 100% owned."
                            },
                            "licences": {
                              "type": "array",
                              "maxItems": 200,
                              "items": {
                                "type": "object",
                                "required": [
                                  "licenceId",
                                  "kind",
                                  "status"
                                ],
                                "properties": {
                                  "licenceId": {
                                    "type": "string",
                                    "description": "Unique within the snapshot — it is what the change detector diffs on."
                                  },
                                  "kind": {
                                    "type": "string"
                                  },
                                  "authority": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "active",
                                      "pending",
                                      "suspended",
                                      "revoked",
                                      "expired"
                                    ]
                                  },
                                  "issuedOn": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "expiresOn": {
                                    "type": "string",
                                    "format": "date",
                                    "description": "The LAST DAY the licence is valid. A permit \"valid to 31 March\" is still good on 31 March."
                                  }
                                }
                              }
                            },
                            "observedAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "When you observed this snapshot. Used only to refuse a backwards comparison."
                            }
                          }
                        },
                        "previous": {
                          "type": "object",
                          "required": [
                            "entityId",
                            "legalName",
                            "jurisdiction",
                            "status"
                          ],
                          "properties": {
                            "entityId": {
                              "type": "string",
                              "description": "Your identifier for the entity. Both snapshots of a comparison must carry the same one."
                            },
                            "legalName": {
                              "type": "string"
                            },
                            "jurisdiction": {
                              "type": "string",
                              "description": "ISO 3166-1 alpha-2 with an optional subdivision: \"GB\", \"US-DE\"."
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "active",
                                "dormant",
                                "unknown",
                                "suspended",
                                "receivership",
                                "in_administration",
                                "liquidation",
                                "struck_off",
                                "dissolved"
                              ],
                              "description": "\"unknown\" is a real answer and is scored as a risk, not as an absence of one."
                            },
                            "registrationNumber": {
                              "type": "string"
                            },
                            "incorporatedOn": {
                              "type": "string",
                              "format": "date"
                            },
                            "registeredAddress": {
                              "type": "object",
                              "required": [
                                "country"
                              ],
                              "properties": {
                                "line1": {
                                  "type": "string"
                                },
                                "locality": {
                                  "type": "string"
                                },
                                "region": {
                                  "type": "string"
                                },
                                "postalCode": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string",
                                  "description": "ISO 3166-1 alpha-2. The field that decides whether an address change is material."
                                }
                              }
                            },
                            "officers": {
                              "type": "array",
                              "maxItems": 500,
                              "items": {
                                "type": "object",
                                "required": [
                                  "name",
                                  "role"
                                ],
                                "properties": {
                                  "officerId": {
                                    "type": "string",
                                    "description": "Your own stable id. Without one an officer is keyed by name, and a role change reads as a departure plus an arrival."
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "role": {
                                    "type": "string",
                                    "enum": [
                                      "director",
                                      "secretary",
                                      "partner",
                                      "manager",
                                      "trustee",
                                      "other"
                                    ],
                                    "description": "Control roles — director, partner, manager, trustee — are the ones whose changes are material."
                                  },
                                  "appointedOn": {
                                    "type": "string",
                                    "format": "date",
                                    "description": "Active from this day, inclusive."
                                  },
                                  "resignedOn": {
                                    "type": "string",
                                    "format": "date",
                                    "description": "The day the appointment TERMINATED. The officer is already gone on that date."
                                  }
                                }
                              }
                            },
                            "ownership": {
                              "type": "array",
                              "maxItems": 500,
                              "items": {
                                "type": "object",
                                "required": [
                                  "holderId",
                                  "holderType",
                                  "basisPoints"
                                ],
                                "properties": {
                                  "holderId": {
                                    "type": "string"
                                  },
                                  "holderName": {
                                    "type": "string"
                                  },
                                  "holderType": {
                                    "type": "string",
                                    "enum": [
                                      "individual",
                                      "entity"
                                    ]
                                  },
                                  "subjectId": {
                                    "type": "string",
                                    "description": "What is being owned. Defaults to the assessed entity, so a flat cap table needs no subject. Point it at another holder to describe a chain."
                                  },
                                  "basisPoints": {
                                    "type": "integer",
                                    "minimum": 1,
                                    "maximum": 10000,
                                    "description": "Integer basis points; 10000 = 100%. Percentages are never floats here — chain multiplication would drift a holder across a 25.00% threshold."
                                  }
                                }
                              },
                              "description": "Holdings, as edges. Repeated holdings for the same holder and subject are summed; nothing may end up more than 100% owned."
                            },
                            "licences": {
                              "type": "array",
                              "maxItems": 200,
                              "items": {
                                "type": "object",
                                "required": [
                                  "licenceId",
                                  "kind",
                                  "status"
                                ],
                                "properties": {
                                  "licenceId": {
                                    "type": "string",
                                    "description": "Unique within the snapshot — it is what the change detector diffs on."
                                  },
                                  "kind": {
                                    "type": "string"
                                  },
                                  "authority": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "active",
                                      "pending",
                                      "suspended",
                                      "revoked",
                                      "expired"
                                    ]
                                  },
                                  "issuedOn": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "expiresOn": {
                                    "type": "string",
                                    "format": "date",
                                    "description": "The LAST DAY the licence is valid. A permit \"valid to 31 March\" is still good on 31 March."
                                  }
                                }
                              }
                            },
                            "observedAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "When you observed this snapshot. Used only to refuse a backwards comparison."
                            }
                          }
                        }
                      }
                    },
                    "description": "Batch form. One billable unit per entry, reserved atomically before any work runs."
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "beneficialOwnerThresholdBasisPoints": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 10000,
                        "description": "Stake at which a holder counts as a beneficial owner. Default 2500 (25.00%)."
                      },
                      "materialCrossingThresholdsBasisPoints": {
                        "type": "array",
                        "maxItems": 8,
                        "items": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 10000
                        },
                        "description": "Crossing any of these makes an ownership change material. Default [2500, 5000, 7500]."
                      },
                      "licenceExpiryWarningDays": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 3650,
                        "description": "Days of notice before expiry. Default 30."
                      },
                      "recentIncorporationDays": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 36500,
                        "description": "Age below which an entity is flagged thin-file. Default 180."
                      },
                      "elevatedRiskJurisdictions": {
                        "type": "array",
                        "maxItems": 250,
                        "items": {
                          "type": "string"
                        },
                        "description": "YOUR policy list of jurisdictions. This API publishes no country list of its own and takes no position on any jurisdiction."
                      }
                    }
                  }
                }
              },
              "example": {
                "entity": {
                  "entityId": "ent_88213",
                  "legalName": "Harbourline Logistics Ltd",
                  "jurisdiction": "GB",
                  "registrationNumber": "09321884",
                  "status": "active",
                  "incorporatedOn": "2019-04-02",
                  "registeredAddress": {
                    "line1": "14 Quay Street",
                    "locality": "Manchester",
                    "postalCode": "M3 3EN",
                    "country": "GB"
                  },
                  "officers": [
                    {
                      "officerId": "off_1",
                      "name": "Amara Okonjo",
                      "role": "director",
                      "appointedOn": "2019-04-02"
                    },
                    {
                      "officerId": "off_2",
                      "name": "Tom Brennan",
                      "role": "director",
                      "appointedOn": "2022-01-17",
                      "resignedOn": "2026-08-12"
                    }
                  ],
                  "ownership": [
                    {
                      "holderId": "hold_meridian",
                      "holderName": "Meridian Holdings BV",
                      "holderType": "entity",
                      "basisPoints": 6000
                    },
                    {
                      "holderId": "ind_okonjo",
                      "holderName": "Amara Okonjo",
                      "holderType": "individual",
                      "basisPoints": 1500
                    },
                    {
                      "holderId": "ind_vance",
                      "holderName": "Peter Vance",
                      "holderType": "individual",
                      "subjectId": "hold_meridian",
                      "basisPoints": 5500
                    }
                  ],
                  "licences": [
                    {
                      "licenceId": "lic_opr_2211",
                      "kind": "Goods vehicle operator licence",
                      "authority": "Traffic Commissioner",
                      "status": "active",
                      "issuedOn": "2024-03-01",
                      "expiresOn": "2026-09-14"
                    }
                  ],
                  "observedAt": "2026-08-31T00:00:00Z"
                },
                "previous": {
                  "entityId": "ent_88213",
                  "legalName": "Harbourline Logistics Ltd",
                  "jurisdiction": "GB",
                  "registrationNumber": "09321884",
                  "status": "active",
                  "incorporatedOn": "2019-04-02",
                  "registeredAddress": {
                    "line1": "14 Quay Street",
                    "locality": "Manchester",
                    "postalCode": "M3 3EN",
                    "country": "GB"
                  },
                  "officers": [
                    {
                      "officerId": "off_1",
                      "name": "Amara Okonjo",
                      "role": "director",
                      "appointedOn": "2019-04-02"
                    },
                    {
                      "officerId": "off_2",
                      "name": "Tom Brennan",
                      "role": "director",
                      "appointedOn": "2022-01-17"
                    }
                  ],
                  "ownership": [
                    {
                      "holderId": "hold_meridian",
                      "holderName": "Meridian Holdings BV",
                      "holderType": "entity",
                      "basisPoints": 6000
                    },
                    {
                      "holderId": "ind_okonjo",
                      "holderName": "Amara Okonjo",
                      "holderType": "individual",
                      "basisPoints": 1500
                    },
                    {
                      "holderId": "ind_vance",
                      "holderName": "Peter Vance",
                      "holderType": "individual",
                      "subjectId": "hold_meridian",
                      "basisPoints": 4000
                    }
                  ],
                  "licences": [
                    {
                      "licenceId": "lic_opr_2211",
                      "kind": "Goods vehicle operator licence",
                      "authority": "Traffic Commissioner",
                      "status": "active",
                      "issuedOn": "2024-03-01",
                      "expiresOn": "2026-09-14"
                    }
                  ],
                  "observedAt": "2026-05-31T00:00:00Z"
                }
              }
            }
          }
        },
        "x-quota-cost": 0
      }
    },
    "/v1/demo/assess": {
      "post": {
        "summary": "Public demo — assess one entity without a key",
        "description": "The real engine, capped at one entity with at most 25 officers, 25 holdings and 10 licences per snapshot. A \"previous\" snapshot is accepted, so change detection is demonstrable without a key. Nothing is stored and nothing is metered.",
        "operationId": "postV1DemoAssess",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assessment": {
                      "type": "object",
                      "properties": {
                        "entityId": {
                          "type": "string"
                        },
                        "score": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 100,
                          "description": "The capped sum of the weights of the signals that fired. Nothing else."
                        },
                        "band": {
                          "type": "string",
                          "enum": [
                            "low",
                            "medium",
                            "high",
                            "critical"
                          ]
                        },
                        "scoring": {
                          "type": "object",
                          "description": "The arithmetic: one contribution per distinct code, their uncapped sum, the cap, and the band table."
                        },
                        "signals": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          },
                          "description": "Every finding, heaviest first, each with a stable code, a weight and a plain-language detail."
                        },
                        "ownership": {
                          "type": "object",
                          "description": "Effective stakes through the whole chain, beneficial owners, unallocated share, cycles, and whether a bound truncated the walk."
                        },
                        "licences": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          },
                          "description": "Per-licence expiry status in whole UTC days, and whether it is usable today."
                        },
                        "officers": {
                          "type": "object",
                          "description": "Counts and the active officers, with tenure in whole UTC days."
                        },
                        "changes": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          },
                          "description": "Null when no previous snapshot was sent. Otherwise every difference, each marked material or not."
                        },
                        "changeSummary": {
                          "type": "object",
                          "description": "Counts plus hasMaterialChange — the boolean worth firing a webhook on."
                        },
                        "warnings": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "entity"
                ],
                "properties": {
                  "entity": {
                    "type": "object",
                    "required": [
                      "entityId",
                      "legalName",
                      "jurisdiction",
                      "status"
                    ],
                    "properties": {
                      "entityId": {
                        "type": "string",
                        "description": "Your identifier for the entity. Both snapshots of a comparison must carry the same one."
                      },
                      "legalName": {
                        "type": "string"
                      },
                      "jurisdiction": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 with an optional subdivision: \"GB\", \"US-DE\"."
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "active",
                          "dormant",
                          "unknown",
                          "suspended",
                          "receivership",
                          "in_administration",
                          "liquidation",
                          "struck_off",
                          "dissolved"
                        ],
                        "description": "\"unknown\" is a real answer and is scored as a risk, not as an absence of one."
                      },
                      "registrationNumber": {
                        "type": "string"
                      },
                      "incorporatedOn": {
                        "type": "string",
                        "format": "date"
                      },
                      "registeredAddress": {
                        "type": "object",
                        "required": [
                          "country"
                        ],
                        "properties": {
                          "line1": {
                            "type": "string"
                          },
                          "locality": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "postalCode": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string",
                            "description": "ISO 3166-1 alpha-2. The field that decides whether an address change is material."
                          }
                        }
                      },
                      "officers": {
                        "type": "array",
                        "maxItems": 500,
                        "items": {
                          "type": "object",
                          "required": [
                            "name",
                            "role"
                          ],
                          "properties": {
                            "officerId": {
                              "type": "string",
                              "description": "Your own stable id. Without one an officer is keyed by name, and a role change reads as a departure plus an arrival."
                            },
                            "name": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string",
                              "enum": [
                                "director",
                                "secretary",
                                "partner",
                                "manager",
                                "trustee",
                                "other"
                              ],
                              "description": "Control roles — director, partner, manager, trustee — are the ones whose changes are material."
                            },
                            "appointedOn": {
                              "type": "string",
                              "format": "date",
                              "description": "Active from this day, inclusive."
                            },
                            "resignedOn": {
                              "type": "string",
                              "format": "date",
                              "description": "The day the appointment TERMINATED. The officer is already gone on that date."
                            }
                          }
                        }
                      },
                      "ownership": {
                        "type": "array",
                        "maxItems": 500,
                        "items": {
                          "type": "object",
                          "required": [
                            "holderId",
                            "holderType",
                            "basisPoints"
                          ],
                          "properties": {
                            "holderId": {
                              "type": "string"
                            },
                            "holderName": {
                              "type": "string"
                            },
                            "holderType": {
                              "type": "string",
                              "enum": [
                                "individual",
                                "entity"
                              ]
                            },
                            "subjectId": {
                              "type": "string",
                              "description": "What is being owned. Defaults to the assessed entity, so a flat cap table needs no subject. Point it at another holder to describe a chain."
                            },
                            "basisPoints": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 10000,
                              "description": "Integer basis points; 10000 = 100%. Percentages are never floats here — chain multiplication would drift a holder across a 25.00% threshold."
                            }
                          }
                        },
                        "description": "Holdings, as edges. Repeated holdings for the same holder and subject are summed; nothing may end up more than 100% owned."
                      },
                      "licences": {
                        "type": "array",
                        "maxItems": 200,
                        "items": {
                          "type": "object",
                          "required": [
                            "licenceId",
                            "kind",
                            "status"
                          ],
                          "properties": {
                            "licenceId": {
                              "type": "string",
                              "description": "Unique within the snapshot — it is what the change detector diffs on."
                            },
                            "kind": {
                              "type": "string"
                            },
                            "authority": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "active",
                                "pending",
                                "suspended",
                                "revoked",
                                "expired"
                              ]
                            },
                            "issuedOn": {
                              "type": "string",
                              "format": "date"
                            },
                            "expiresOn": {
                              "type": "string",
                              "format": "date",
                              "description": "The LAST DAY the licence is valid. A permit \"valid to 31 March\" is still good on 31 March."
                            }
                          }
                        }
                      },
                      "observedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When you observed this snapshot. Used only to refuse a backwards comparison."
                      }
                    }
                  },
                  "previous": {
                    "type": "object",
                    "required": [
                      "entityId",
                      "legalName",
                      "jurisdiction",
                      "status"
                    ],
                    "properties": {
                      "entityId": {
                        "type": "string",
                        "description": "Your identifier for the entity. Both snapshots of a comparison must carry the same one."
                      },
                      "legalName": {
                        "type": "string"
                      },
                      "jurisdiction": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 with an optional subdivision: \"GB\", \"US-DE\"."
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "active",
                          "dormant",
                          "unknown",
                          "suspended",
                          "receivership",
                          "in_administration",
                          "liquidation",
                          "struck_off",
                          "dissolved"
                        ],
                        "description": "\"unknown\" is a real answer and is scored as a risk, not as an absence of one."
                      },
                      "registrationNumber": {
                        "type": "string"
                      },
                      "incorporatedOn": {
                        "type": "string",
                        "format": "date"
                      },
                      "registeredAddress": {
                        "type": "object",
                        "required": [
                          "country"
                        ],
                        "properties": {
                          "line1": {
                            "type": "string"
                          },
                          "locality": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string"
                          },
                          "postalCode": {
                            "type": "string"
                          },
                          "country": {
                            "type": "string",
                            "description": "ISO 3166-1 alpha-2. The field that decides whether an address change is material."
                          }
                        }
                      },
                      "officers": {
                        "type": "array",
                        "maxItems": 500,
                        "items": {
                          "type": "object",
                          "required": [
                            "name",
                            "role"
                          ],
                          "properties": {
                            "officerId": {
                              "type": "string",
                              "description": "Your own stable id. Without one an officer is keyed by name, and a role change reads as a departure plus an arrival."
                            },
                            "name": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string",
                              "enum": [
                                "director",
                                "secretary",
                                "partner",
                                "manager",
                                "trustee",
                                "other"
                              ],
                              "description": "Control roles — director, partner, manager, trustee — are the ones whose changes are material."
                            },
                            "appointedOn": {
                              "type": "string",
                              "format": "date",
                              "description": "Active from this day, inclusive."
                            },
                            "resignedOn": {
                              "type": "string",
                              "format": "date",
                              "description": "The day the appointment TERMINATED. The officer is already gone on that date."
                            }
                          }
                        }
                      },
                      "ownership": {
                        "type": "array",
                        "maxItems": 500,
                        "items": {
                          "type": "object",
                          "required": [
                            "holderId",
                            "holderType",
                            "basisPoints"
                          ],
                          "properties": {
                            "holderId": {
                              "type": "string"
                            },
                            "holderName": {
                              "type": "string"
                            },
                            "holderType": {
                              "type": "string",
                              "enum": [
                                "individual",
                                "entity"
                              ]
                            },
                            "subjectId": {
                              "type": "string",
                              "description": "What is being owned. Defaults to the assessed entity, so a flat cap table needs no subject. Point it at another holder to describe a chain."
                            },
                            "basisPoints": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 10000,
                              "description": "Integer basis points; 10000 = 100%. Percentages are never floats here — chain multiplication would drift a holder across a 25.00% threshold."
                            }
                          }
                        },
                        "description": "Holdings, as edges. Repeated holdings for the same holder and subject are summed; nothing may end up more than 100% owned."
                      },
                      "licences": {
                        "type": "array",
                        "maxItems": 200,
                        "items": {
                          "type": "object",
                          "required": [
                            "licenceId",
                            "kind",
                            "status"
                          ],
                          "properties": {
                            "licenceId": {
                              "type": "string",
                              "description": "Unique within the snapshot — it is what the change detector diffs on."
                            },
                            "kind": {
                              "type": "string"
                            },
                            "authority": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "active",
                                "pending",
                                "suspended",
                                "revoked",
                                "expired"
                              ]
                            },
                            "issuedOn": {
                              "type": "string",
                              "format": "date"
                            },
                            "expiresOn": {
                              "type": "string",
                              "format": "date",
                              "description": "The LAST DAY the licence is valid. A permit \"valid to 31 March\" is still good on 31 March."
                            }
                          }
                        }
                      },
                      "observedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When you observed this snapshot. Used only to refuse a backwards comparison."
                      }
                    }
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "beneficialOwnerThresholdBasisPoints": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 10000,
                        "description": "Stake at which a holder counts as a beneficial owner. Default 2500 (25.00%)."
                      },
                      "materialCrossingThresholdsBasisPoints": {
                        "type": "array",
                        "maxItems": 8,
                        "items": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 10000
                        },
                        "description": "Crossing any of these makes an ownership change material. Default [2500, 5000, 7500]."
                      },
                      "licenceExpiryWarningDays": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 3650,
                        "description": "Days of notice before expiry. Default 30."
                      },
                      "recentIncorporationDays": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 36500,
                        "description": "Age below which an entity is flagged thin-file. Default 180."
                      },
                      "elevatedRiskJurisdictions": {
                        "type": "array",
                        "maxItems": 250,
                        "items": {
                          "type": "string"
                        },
                        "description": "YOUR policy list of jurisdictions. This API publishes no country list of its own and takes no position on any jurisdiction."
                      }
                    }
                  }
                }
              },
              "example": {
                "entity": {
                  "entityId": "ent_88213",
                  "legalName": "Harbourline Logistics Ltd",
                  "jurisdiction": "GB",
                  "registrationNumber": "09321884",
                  "status": "active",
                  "incorporatedOn": "2019-04-02",
                  "registeredAddress": {
                    "line1": "14 Quay Street",
                    "locality": "Manchester",
                    "postalCode": "M3 3EN",
                    "country": "GB"
                  },
                  "officers": [
                    {
                      "officerId": "off_1",
                      "name": "Amara Okonjo",
                      "role": "director",
                      "appointedOn": "2019-04-02"
                    },
                    {
                      "officerId": "off_2",
                      "name": "Tom Brennan",
                      "role": "director",
                      "appointedOn": "2022-01-17",
                      "resignedOn": "2026-08-12"
                    }
                  ],
                  "ownership": [
                    {
                      "holderId": "hold_meridian",
                      "holderName": "Meridian Holdings BV",
                      "holderType": "entity",
                      "basisPoints": 6000
                    },
                    {
                      "holderId": "ind_okonjo",
                      "holderName": "Amara Okonjo",
                      "holderType": "individual",
                      "basisPoints": 1500
                    },
                    {
                      "holderId": "ind_vance",
                      "holderName": "Peter Vance",
                      "holderType": "individual",
                      "subjectId": "hold_meridian",
                      "basisPoints": 5500
                    }
                  ],
                  "licences": [
                    {
                      "licenceId": "lic_opr_2211",
                      "kind": "Goods vehicle operator licence",
                      "authority": "Traffic Commissioner",
                      "status": "active",
                      "issuedOn": "2024-03-01",
                      "expiresOn": "2026-09-14"
                    }
                  ],
                  "observedAt": "2026-08-31T00:00:00Z"
                },
                "previous": {
                  "entityId": "ent_88213",
                  "legalName": "Harbourline Logistics Ltd",
                  "jurisdiction": "GB",
                  "registrationNumber": "09321884",
                  "status": "active",
                  "incorporatedOn": "2019-04-02",
                  "registeredAddress": {
                    "line1": "14 Quay Street",
                    "locality": "Manchester",
                    "postalCode": "M3 3EN",
                    "country": "GB"
                  },
                  "officers": [
                    {
                      "officerId": "off_1",
                      "name": "Amara Okonjo",
                      "role": "director",
                      "appointedOn": "2019-04-02"
                    },
                    {
                      "officerId": "off_2",
                      "name": "Tom Brennan",
                      "role": "director",
                      "appointedOn": "2022-01-17"
                    }
                  ],
                  "ownership": [
                    {
                      "holderId": "hold_meridian",
                      "holderName": "Meridian Holdings BV",
                      "holderType": "entity",
                      "basisPoints": 6000
                    },
                    {
                      "holderId": "ind_okonjo",
                      "holderName": "Amara Okonjo",
                      "holderType": "individual",
                      "basisPoints": 1500
                    },
                    {
                      "holderId": "ind_vance",
                      "holderName": "Peter Vance",
                      "holderType": "individual",
                      "subjectId": "hold_meridian",
                      "basisPoints": 4000
                    }
                  ],
                  "licences": [
                    {
                      "licenceId": "lic_opr_2211",
                      "kind": "Goods vehicle operator licence",
                      "authority": "Traffic Commissioner",
                      "status": "active",
                      "issuedOn": "2024-03-01",
                      "expiresOn": "2026-09-14"
                    }
                  ],
                  "observedAt": "2026-05-31T00:00:00Z"
                }
              }
            }
          }
        }
      }
    },
    "/v1/risk-signals": {
      "get": {
        "summary": "The risk signal catalogue, with every weight, band and change code",
        "description": "The scoring model in full: every signal code with the exact points it contributes, the band cut-offs, the status severity ranks used to decide whether a status change is a deterioration, and every material-change code with its default materiality. Served from the same objects the engine uses, so the published weights cannot drift from the applied ones. Branch on codes, not on the human-readable text, which may be reworded.",
        "operationId": "getV1RiskSignals",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "scoring": {
                      "type": "object",
                      "description": "How the score is computed, stated as arithmetic."
                    },
                    "signals": {
                      "type": "object",
                      "description": "code -> { category, severity, weight, meaning }."
                    },
                    "bands": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "changes": {
                      "type": "object",
                      "description": "code -> { material, severity, meaning }."
                    },
                    "statusRanks": {
                      "type": "object",
                      "description": "Higher is worse. A status change to a higher rank is a deterioration."
                    },
                    "defaults": {
                      "type": "object"
                    },
                    "billing": {
                      "type": "object",
                      "description": "The billable unit and the rule that decides how many you are charged."
                    },
                    "limits": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/checkout": {
      "post": {
        "summary": "Start a hosted Square checkout for a paid tier",
        "description": "Returns a Square-hosted payment URL for the requested tier. No API key is needed — a prospect has not got one yet. The email Square collects becomes the account, so a key issued later for the same address inherits the paid quota. Enterprise returns a contact route rather than a payment link. THIS IS THE PATH FOR SOMEONE WHO IS NOT YET PAYING. It starts a NEW Square recurring subscription, so it is refused with 409 `conflict` (`details.reason` `existing_subscription`) when the request carries a dashboard session for an account that already has a live plan on this API — a second subscription would be charged alongside the first, every month, and this API cannot cancel either one. Change tier with POST /v1/subscription/plan, or, when Square collects your base fee, cancel it with Square first.",
        "operationId": "postV1Checkout",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "checkoutUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "Square-hosted payment page. Redirect the buyer here."
                    },
                    "tier": {
                      "type": "string"
                    },
                    "sku": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tier"
                ],
                "properties": {
                  "tier": {
                    "type": "string",
                    "description": "developer | growth | scale | enterprise"
                  }
                }
              },
              "example": {
                "tier": "developer"
              }
            }
          }
        }
      }
    },
    "/api/billing/webhook": {
      "post": {
        "summary": "Square billing events, forwarded by the shared hub",
        "description": "Machine-to-machine only. The shared Square billing hub POSTs signed events here; the signature is verified over the exact request bytes. Not callable by API consumers — documented so the integration is auditable.",
        "operationId": "postApiBillingWebhook",
        "security": [
          {
            "hubSignature": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/keys": {
      "post": {
        "summary": "Request a free sandbox API key (sends a verification email)",
        "description": "Starts self-serve key issuance. A one-time claim token is emailed to the address you supply; POST it to /v1/keys/claim to receive the key. No key is returned here, and the response is the same whether or not that address already has an account — so this endpoint cannot be used to find out who has one. The email is verified because your account, your usage and your invoice are all keyed to it: issuing on an unverified address would let anyone mint a working key on your account and spend your allowance. Keep using the same address and a paid plan bought with it raises the keys you already hold rather than issuing new ones. Distributed integrations may identify their discovery surface with the optional source object or x-integration-source header; invalid source values are ignored and never block key issuance.",
        "operationId": "postV1Keys",
        "security": [],
        "responses": {
          "202": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "verification_sent"
                      ]
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "After this, request a new one."
                    },
                    "next": {
                      "type": "string",
                      "description": "The endpoint that turns the emailed token into a key."
                    },
                    "message": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Where the claim token is sent. This becomes your account."
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 60,
                    "description": "Optional label for the key, e.g. \"staging\". Shown in GET /v1/keys."
                  },
                  "source": {
                    "type": "object",
                    "description": "Optional discovery metadata supplied by a README, SDK, Postman collection or MCP client.",
                    "properties": {
                      "source": {
                        "type": "string"
                      },
                      "medium": {
                        "type": "string"
                      },
                      "campaign": {
                        "type": "string"
                      },
                      "content": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "email": "you@example.com",
                "name": "staging",
                "source": {
                  "source": "web",
                  "medium": "docs"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List your API keys for this API",
        "description": "Every key on YOUR account for this API — label, non-secret prefix, status, when it was created, when it was last used, and what it has consumed this period. Authenticate with any active key on the account; the account is taken from that key, never from a parameter, so this can only ever return your own keys. Keys you hold for other APIs in the portfolio are not listed here. Secrets are not returned and cannot be: only a peppered hash is stored. Free, and consumes no quota.",
        "operationId": "getV1Keys",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string",
                            "description": "The label given at creation."
                          },
                          "prefix": {
                            "type": "string",
                            "description": "Non-secret leading characters, so you can tell two keys apart without holding either."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "revoked"
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastUsedAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time",
                            "description": "Null if the key has never been used."
                          },
                          "revokedAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "quotaPerPeriod": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "usedInPeriod": {
                            "type": "integer"
                          },
                          "current": {
                            "type": "boolean",
                            "description": "True for the key that authenticated this request."
                          }
                        }
                      }
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "x-quota-cost": 0
      }
    },
    "/v1/keys/claim": {
      "post": {
        "summary": "Exchange an emailed claim token for the API key",
        "description": "Spends the token emailed by POST /v1/keys and returns the key. The key is shown ONCE — only a peppered hash is stored, so it can never be read back; if you lose it, rotate. The key works only on this API, and the allowance it is issued with reflects your account: your paid plan when you have one, the free sandbox allowance when you do not.",
        "operationId": "postV1KeysClaim",
        "security": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apiKey": {
                      "type": "string",
                      "description": "Shown once and never again. Store it now."
                    },
                    "keyId": {
                      "type": "string",
                      "description": "Use this with /v1/keys/{id}/revoke and /v1/keys/{id}/rotate."
                    },
                    "product": {
                      "type": "string",
                      "description": "The key works only on this API."
                    },
                    "quotaPerPeriod": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "plan": {
                      "type": "string",
                      "description": "The tier this allowance came from, or \"sandbox\" on the free tier."
                    },
                    "warning": {
                      "type": "string"
                    },
                    "usage": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The claim token from the verification email."
                  }
                }
              },
              "example": {
                "token": "EXAMPLE_CLAIM_TOKEN_NOT_A_SECRET"
              }
            }
          }
        }
      }
    },
    "/v1/keys/{id}/revoke": {
      "post": {
        "summary": "Revoke one of your API keys",
        "description": "Kills a key immediately: the very next request made with it is refused with 401 invalid_api_key. There is no propagation delay and no cache to wait out. You may revoke the key you are authenticating with — that is the correct move when it has leaked, though you will then need another key, or the email flow, to get back in; rotate does both in one call. A key belonging to another account, or to another API, answers 404 exactly as an unknown id does, so this cannot be used to probe for keys you do not own. Idempotent, and free.",
        "operationId": "postV1KeysIdRevoke",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
[...]
